h1, a {
    color: rgb(196, 181, 182);
}

#emphasis {
    color: red;
}

#active {
    background-color: steelblue;
    color: white
}

.room {
    background-color: rgb(201, 37, 37);
}

#bruh {
    color: rgb(128, 26, 0);
}

img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 1.3em;
    line-height: 1.5em;
}

nav a{
    text-decoration: none;
}

nav a:nth-of-type(3){
    color: red;
}
